<!DOCTYPE html>
<html>
<head>
    <title>BlueSnap</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.css">
</head>

<body>
<!--Insert the relevant URL for the form action-->
<form action="/pay" method="POST" id="checkout-form">

    <div>
        <label for="FirstName">Name on Card</label>
        <input type="text" name="cardholder-name" id="cardholder-name">
    </div>

    <!--Note the data-bluesnap attribute-->
    <div>
        <label for="creditCard">Card Number</label>
        <input type="text" name="creditCard" id="creditCard" data-bluesnap="encryptedCreditCard">
    </div>

    <!--Note the data-bluesnap attribute-->
    <div>
        <label for="cvv">Security Code</label>
        <input type="text" name="cvv" id="cvv" data-bluesnap="encryptedCvv">
    </div>

    <div>
        <label for="Expiration">Exp. (MM/YYYY)</label>
        <input type="text" name="exp-month" id="exp-month" size="2">
        <span> / </span>
        <input type="text" name="exp-year" id="exp-year" size="4">
    </div>
    <a class="btn btn-success" id="submit-button">Buy Now</a>

</form>
<div class="result"></div>
<div class="error"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--Creates the BlueSnap object, instantiates it with your public key, and enables encryption on submit-->
<script>
   $('#submit-button').click(function(){
       $.ajax({
           type: 'POST',
           url: '/pay',
           data: $('#checkout-form').serialize(),
           success: function(data){
               $('.error').text();
               $('.result').text();
               var result =  JSON.parse(data);
               if(!result.success){
                   console.log(data);
                   $('.error').text(result.message[0].description);
               }else{
                   $('.result').text(result.msg);
               }
           }
       });
   });

</script>

</body>
</html>